body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
    padding: 0;
}

header {
    background-color: #0077cc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


h1 {
    font-size: 24px;
}

.section-content {
    padding: 20px;
}


.forum-card {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
}

.forum-card:hover {
    background-color: #0077cc;
    color: #fff;
}


