/* menu.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    background-color: #0077cc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 24px;
}
.user-profile {
    float: right;
    margin-top: 5px;
}

.user-profile span {
    font-size: 16px;
    margin-right: 5px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* home.css */
.content {
    padding: 20px;
    text-align: center;
}

.recommendations {
    margin-top: 20px;
}

.recommendations h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recommendations p {
    font-size: 16px;
    margin-bottom: 5px;
}

#recommendedGroups,
#recommendedForums {
    list-style-type: none;
    padding: 0;
}

.recommended-item {
    margin-bottom: 10px;
}

.join-button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.join-button:hover {
    background-color: #45a049;
}
