header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-left: 10px;
}
.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 10px;
}

.user-profile span {
    font-size: 16px;
    margin-left: 10px; 
    font-weight: bold; 
    color: #fff; 
}

.section-content {
    padding: 20px;
}


.forum-card {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    display: block;
}

.forum-card:hover {
    background-color: #0077cc;
    color: #fff;
}


