@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

body {
    font-family: Roboto, sans-serif;
    margin: 20px;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #d0d0d0, #0095ff);


}
.slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 750px;
    height: 850px;
    background: #ffea00;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
    0%,100%{
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0,0,0) rotateZ(0.05deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
        transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
        transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

h1 {
    font-size: 24px;
    margin-left: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 10px;
}

.user-profile span {
    font-size: 16px;
    margin-left: 10px; 
    font-weight: bold; 
    color: #fff; 
}

.content {
    padding: 20px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.recommendations {
    margin-top: 20px;
}

.recommendations h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recommendations p {
    font-size: 16px;
    margin-bottom: 5px;
}

#recommendedGroups,
#recommendedForums {
    list-style-type: none;
    padding: 0;
}

.recommended-item {
    margin-bottom: 10px;
}

.join-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #2980b9;
}

/* Stil pentru butonul de participare după eveniment */
.join-button.participated {
    background-color: #2ecc71;
    cursor: not-allowed;
}
.event-cards {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    list-style-type: none;
    padding: 15px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.event-description {
    font-size: 16px;
    margin-bottom: 15px;
    color: #666;
}
.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;


}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

