/* mesaje.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-left: 10px;
}
.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 10px;
}

.user-profile span {
    font-size: 16px;
    margin-left: 10px; 
    font-weight: bold; 
    color: #fff; 
}


#conversations {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#listaConversatii {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaConversatii li {
    margin-bottom: 10px;
}

#formConversatie {
    margin-top: 20px;
}

#formConversatie input {
    padding: 10px;
    margin-right: 10px;
}

#formConversatie button {
    padding: 10px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formConversatie button:hover {
    background-color: #00557e;
}
